body {
  position: relative;
  box-sizing: border-box;
}

.taskbar {
  display: flex;
  align-items: center;
  padding: 64px 0px 40px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 312px;
  border-radius: 10px;
  gap: 16px;
  border: 1px solid #000000;
  position: relative;
}

.search-loop {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 16px;
  margin-right: 20px;
}

.vertical-bar {
  height: 31px;
  width: 1px;
  background-color: black;
}

.search-tasks-input {
  outline: none;
  border: none;
  width: 100%;
  padding: 9px 0px 9px;
  background: transparent;
  border: none !important;
}

.new-board-task {
  cursor: pointer;
}

.search-loop-img {
  height: 18px;
  width: auto;
  cursor: pointer;
}

.add-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  border-radius: 10px;
  height: 48px;
  width: 160px;
}

.add-task-button:hover {
  background-color: rgb(41, 171, 226);
}

.add-task-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.board-upper-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 48px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 64px;
}

.add-task-button-text {
  font-size: 21px;
  font-weight: 700;
}

.board-title {
  font-weight: 700;
  font-size: 61px;
}

.board-section-title {
  font-size: 20px;
  font-weight: 700;
}

.board-all-tasks-section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 35px;
  width: 100%;
}

.board-column-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 244px;
  margin-bottom: 8px;
}

.empty-column {
  height: 48px;
  width: 98%;
  border: 1px dotted rgba(168, 168, 168, 1);
  background-color: rgba(231, 231, 231, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(168, 168, 168, 1);
  border-radius: 10px;
}

.tasks-box {
  width: 252px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#createTaskInBoardOverlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(42, 54, 71, 0.744);
}

#overlayDialogBoard {
  display: flex;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px 40px 20px;
  height: 90vh;
  width: 80vw;
  overflow: auto;
}

.task-body {
  width: 244px;
  background-color: white;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
  cursor: pointer;
}


.progress-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.user-task-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#tasksContainer {
  overflow: auto;
  max-height: 600px;
}

.task-description {
  margin-bottom: 24px;
  font-weight: 400;
  color: rgba(168, 168, 168, 1);
}

.task-title {
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
}

.progress-container {
  width: 128px;
  height: 8px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 8px;
}

.tasks-done {
  font-size: 12px;
}

.contact-initial {
  width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    margin-right: -6px;
    border: 0.5px solid white;
}

.contacts-assigned {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 112px;
  overflow-x: auto;
}

.priority-png {
  height: 40px;
  width: auto;
}

#tasksContainer-0,#tasksContainer-1, #tasksContainer-2, #tasksContainer-3 {
  overflow: auto;
  width: 244px;
  max-height: 500px;
  height: 500px;
}

.overlay-priority-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 21px;
  border-radius: 10px;
  background-color: white;
  width: 136px;
  height: 56px;
  cursor: pointer !important;
  transition: box-shadow 0.2s ease-in-out;
  border: 0.2px solid rgb(227, 227, 227)
}

.overlay-priority-button:not(.active):hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.overlay-priority-button svg {
  fill: black;
  transition: fill 0.3s ease;
}

.overlay-priority-button.active svg {
  fill: white;
}

.overlay-priority-pngs {
  size: 21px;
}

.task-rotate-left {
  transform: rotate(-30deg);
}

.task-rotate-right {
  transform: rotate(30deg);
}

.dragging {
  position: absolute;
}



.mobile-add-task-btn {
  display: none;
}