.progress-container {
    width: 120px;
    height: 8px;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 8px;
  }
  
  .progress-bar {
    width: 0%;
    height: 100%;
    background-color: rgb(41, 171, 226);
    transition: width 0.3s ease;
  }
  
  .tasks-done {
    font-size: 12px;
  }
  
  .contact-initial {
    width: 26px;
      height: 26px;
      border-radius: 50%;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      background-size: cover;
      background-position: center;
      margin-right: -6px;
      border: 0.5px solid white;
      flex: 0 0 auto;
  }
  
  .contacts-assigned {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 80px;
    overflow-x: auto;
  }

.contacts-assigned::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.contacts-assigned::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.contacts-assigned::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
  
  
  .priority-png {
    height: 40px;
    width: auto;
  }
  
  #tasksContainer-0,#tasksContainer-1, #tasksContainer-2, #tasksContainer-3 {
    width: 244px;
  }
  
  .overlay-priority-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 21px;
    border-radius: 10px;
    background-color: white;
    width: 136px;
    height: 56px;
    cursor: pointer !important;
    transition: box-shadow 0.2s ease-in-out;
    border: 0.2px solid rgb(227, 227, 227)
  }
  
  .overlay-priority-button:not(.active):hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .overlay-priority-button svg {
    fill: black;
    transition: fill 0.3s ease;
  }
  
  .overlay-priority-button.active svg {
    fill: white;
  }
  
  .overlay-priority-pngs {
    size: 21px;
  }
  
  .task-rotate-left {
    transform: rotate(-30deg);
  }
  
  .task-rotate-right {
    transform: rotate(30deg);
  }
  
  .dragging {
    position: absolute;
  }
  
  .mobile-add-task-btn {
    display: none;
    cursor: pointer;
  }
  
  .tasks-container {
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .tasks-container::-webkit-scrollbar {
    display: none;
  }
  
  .mobile-switch {
    display: none;
    background-color: rgba(42, 54, 71, 1);
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 0px;
    right: -30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    gap: 8px;
  }
  
  .mobile-switch-btn {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, font-size 0.3s ease
  }
  
  .mobile-switch-btn:hover {
    transform: scale(1.1);
  }
  
  .disabled {
    opacity: 0.5;
    color: lightgrey;
    pointer-events: none;
  }