.contacts-container {
  display: flex;
}


.back-arrow {
  position: absolute;
  top: 140px;
  right: 20px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(246, 247, 248); */
  background-color: transparent;
  cursor: pointer;
}


.back-arrow:hover {
  background-color: rgb(221 221 221);
}


.contacts {
  width: 40%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  border-right: 1px solid #ddd;
  padding: 24px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
}


.contacts-list h2 {
  padding-left: 16px;
  border-bottom: 1px solid rgb(221, 221, 221);
}


.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 16px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.contact-item:hover {
  background-color: rgb(246, 247, 248);
}


.contact-item.clicked-color:hover {
  background-color: rgb(9, 25, 49);
}


.contact-initials {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  border: solid 2px white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


.contact-name {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}


.color-white {
  color: white;
}


.contact-details {
  margin: 0;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}


.contact-email {
  margin: 0;
  font-size: 14px;
  color: rgb(128, 189, 247);
}


.contact-info {
  /* width: 60%; */
  height: calc(100vh - 80px);
  background-color: rgb(246, 247, 248);
  padding: 80px 48px;
  box-sizing: border-box;
  /* display: flex; */
  flex-direction: column;
}


.contact-header {
  margin: 36px 0 20px;
  display: flex;
  align-items: center;
  /* height: 36px; */
}


.contact-header h1 {
  padding-right: 20px;
  margin: 0;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 48px;
}


.contact-header p {
  margin: 0;
  height: 36px;
  padding-left: 20px;
  color: rgb(42, 54, 71);
  display: flex;
  align-items: center;
  font-size: 24px;
  position: relative;
}

.contact-header p::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  bottom: -8px;
  width: 3px;
  background-color: rgb(41, 171, 226);
  border-radius: 2px;
}


.contact-detail-view {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}


.contact-detail-view.slide-in {
  transform: translateX(0);
}


.add-contact-btn {
  display: inline-block;
  background-color: rgb(42, 54, 71);
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  height: 48px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.add-contact-btn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}


.add-contact-btn img {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}


.edit-delete {
  margin: 0 0 0 36px;
}


.detail-avatar-name {
  display: flex;
  align-items: center;
}


.detail-avatar-name img {
  width: 66px;
  cursor: pointer;
}

.detail-avatar-name img:hover {
  color: rgb(41, 171, 226);
}


.email-phone {
  margin-top: 20px;
}


.email-phone b {
  margin-top: 12px;
}


.email-phone p {
  margin: 12px 0;
}


.email {
  color: rgb(128, 189, 247);
}


.contact-detail-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  border: solid 2px white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


#detailName {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 300;
}


.add-contact-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.add-contact-overlay.show {
  opacity: 1;
}


.overlay-add-content {
  display: flex;
  width: 75vw;
  min-height: 400px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}


.overlay-add-content.slide-in {
  transform: translateX(0);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.overlay.show {
  opacity: 1;
}


.overlay-edit-content {
  display: flex;
  width: 70%;
  max-width: 900px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}


.overlay-edit-content.slide-in {
  transform: translateX(0);
}


.overlay-left {
  background-color: rgb(42, 54, 71);
  color: #fff;
  width: 40%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.overlay-left img {
  width: 48px;
  height: 48px;
}


.overlay-left h2 {
  margin: 4px 0;
  font-size: 36px;
}


.overlay-left p {
  margin: 0;
  font-size: 16px;
  padding: 0 0 8px 0;
  position: relative;
}


.overlay-left p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 3px;
  background-color: rgb(41, 171, 226);
  border-radius: 2px;
}


.edit-pseudo-element {
  margin: 0;
  font-size: 16px;
  padding: 0 0 8px 0;
  position: relative;
}


.edit-pseudo-element::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 3px;
  background-color: rgb(41, 171, 226);
  border-radius: 2px;
}


.overlay-right {
  width: 60%;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.overlay-close-responsive {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgb(69, 79, 94);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.overlay-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgb(69, 79, 94);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.overlay-close:hover {
  background-color: rgb(220 220 220);
}


.overlay-close img {
  width: 20px;
  height: 20px;
}


.new-contact-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.new-contact-inputs {
  width: 100%;
  margin-right: 16px;
}


.overlay-edit-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  border: solid 2px white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay-avatar {
  padding-right: 40px;
}

.overlay-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  border: solid 2px white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


.overlay-input-group {
  margin-bottom: 20px;
}


.overlay-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.input-wrapper {
  position: relative;
}


.input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 6px;
}


.input-wrapper img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  object-fit: none;
  pointer-events: none;
}


.input-wrapper input::-webkit-input-placeholder {
  color: rgb(232, 232, 232);
}


.input-wrapper input:focus {
  border: 1px solid rgb(41, 171, 226);
  outline: none;
}


.overlay-buttons {
  gap: 10px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}


.overlay-buttons img {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

/* .btn-cancel:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid transparent;
    border-radius: inherit;
    transition: border-color 0.3s ease-in-out;
    pointer-events: none;
  }
  
  
  .btn-cancel:hover {
    border-color: rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
  
  
  .btn-cancel:hover:after {
    border-color: rgb(41, 171, 226);
  } */

#overlayCancelIcon {
  cursor: pointer;
  /* font-size: 16px;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out; */
  width: 126px;
  height: 56px;
}

.btn-save {
  background-color: rgb(42, 54, 71);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  /* height: 40px; */
  height: 48px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  
}


.btn-save:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}


.overlay-contact-succesfully-created {
  position: fixed;
  bottom: 10%;
  right: 15%;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}


.overlay-contact-succesfully-created.show {
  transform: translateX(0);
  opacity: 1;
}


.mobile-contact-info {
  /* display: flex; */
  background-color: aliceblue;
  width: 100%;
}

@media (max-width: 1150px) {
  .overlay-right {
    padding: 15px
  }
}

@media (max-width: 1000px) {
  .contact-info {
    height: calc(100vh - 180px);
  }

  .contacts {
    height: calc(100vh - 180px);
  }
  
  .overlay-edit-content {
    flex-direction: column;
    width: 60vw;
    height: 80vh;
  }

  .overlay-left {
    width: 100%;
    height: 30vh;
  }

  .overlay-right {
    width: 100%;
  }

  .overlay-close {
    display: none;
  }

  .new-contact-details {
    flex-direction: column;

  }

  .overlay-left img {
    display: none;
  }

  .edit-overlay-inputs {
    width: 100%;
    padding-top: 2rem;
  }

  .overlay-edit-avatar {
    position: absolute;
    top: -50px;
  }

  .overlay-buttons {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay-close-responsive {
    display: flex;
  }

  .overlay-left img {
    display: flex;
    height: 32px;
    width: 32px;
  }

  .btn-save {
    max-width: 70%;
  }

  .overlay-add-content {
    flex-direction: column;
  }

  .overlay-avatar {
    position: absolute;
    top: -50px;
    padding-right: 0;
  }

  .new-contact-inputs {
    padding: 40px 16px 20px;
    margin: 0;
    box-sizing: border-box;
  }

  #overlayCancelIcon {
    display: none;
  }

  .overlay-logo {
    display: none !important;
  }
}


@media (max-width: 800px) {
  .contact-info {
    padding: 40px 20px;
  }

  .contact-header {
    margin: 20px 0;
  }

  .contacts {
    width: 100%;
  }


  .add-contact-btn {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 120px;
    right: 30px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .add-contact-btn p {
    display: none;
  }

  .add-contact-btn img {
    margin: 0;
  }
}


@media (max-width: 700px) {
  .contact-header {
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-header h1 {
    margin-bottom: 12px;
  }

  .contact-header p {
    /* border-left: 3px solid rgb(41, 171, 226); */
    border-left: none;
    margin: 0;
    /* font-size: 16px; */
    padding: 0 0 12px 0;
    position: relative;
  }

  .contact-header p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 3px;
    background-color: rgb(41, 171, 226);
    border-radius: 2px;
  }

  .contact-header p::before {
    content: none;
    display: none;
  }

  .overlay-edit-content {
    width: 80vw;
  }
}


@media (max-width: 450px) {
  .contact-info {
    height: calc(100vh - 160px);
  }

  .contacts {
    height: calc(100vh - 160px);
  }

  .add-contact-btn {
    bottom: 100px;
  }

  .overlay-edit-content{
    width: 90vw;
  }

  .btn-save {
    font-size: 12px;
    gap: 4px;
  }

  .overlay-add-content {
    width: 90vw;
  }
}