/* Footer-Styling */
.footer-container {
    background-color: #222;
    /* Etwas dunkler als der Header */
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


.footer-container p {
    margin: 0 0 10px 0;
}


.footer-container ul.footer-links li {
    margin: 0 10px;
}


.footer-container ul.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}