.legalNoticeMain {
    height: calc(100vh - 80px);
    /* 80px z. B. fÃƒÆ’Ã‚Â¼r einen festen Header */
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
    font-size: 16px;
    font-weight: 400;
}


.pageTitle {
    font-size: 61px;
    font-weight: 700;
}


.pageSubTitle {
    font-size: 27px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}


@media (min-width: 1920px) {
    .legalNoticeMain {
        max-width: 1920px;
    }


}


@media (max-width: 1000px) {
    .legalNoticeMain {
        padding-left: 20px;
        padding-right: 30px;
    }


}


@media (max-width: 666px) {
    .pageTitle {
        font-size: 55px;
    }


.legalNoticeMain {
        padding-right: 30px;
    }


}