.legalNoticeMain {
    height: calc(100vh - 80px);
    /* 80px z. B. für einen festen Header */
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 0 80px;
    font-size: 16px;
    font-weight: 400;
}

.section {
    margin-bottom: 50px;
}

.pageTitle {
    font-size: 61px;
    font-weight: 700;
}

.pageSubTitle {
    font-size: 27px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}