.sidebar {
  width: 200px;
  height: 100vh;
  background-color: rgb(42, 54, 71);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  box-sizing: border-box;
  /* font-family: 'PT Sans', sans-serif; */
  padding: 40px 0;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
}

.sidebar-logo img {
  width: 80px;
  height: 80px;
}

.sidebar-button {
  width: 100%;
  background-color: rgb(42, 54, 71);
  float: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 160px;
  padding-top: 48px;
}

.main-button {
  display: flex;
  justify-content: flex-start;
  /* padding-left: 36px; */
}

.nav-button {
  width: 100%;
  background-color: rgb(42, 54, 71);
  color: #fff;
  border: none;
  padding: 14px 0 14px;
  margin: 8px 0;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  /* font-family: 'PT Sans', sans-serif; */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  padding-left: 40px;
}

.nav-button img {
  width: 24px;
  height: 24px;
}

.nav-button p {
  margin: 0;
}

.nav-button svg {
  margin-right: 16px;
}

.clicked-color {
  background-color: rgb(9, 25, 49);
}

.nav-button:hover {
  background-color: rgb(47 65 90);
}

.clicked-color:hover {
  background-color: rgb(9, 25, 49);
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.sidebar-footer button {
  color: rgb(168, 168, 168);
  text-decoration: none;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.sidebar-footer .nav-button:hover {
  background-color: transparent;
  color: rgb(41, 171, 226);
  transform: scale(1.01);
  font-weight: bold;
}

.sidebar-footer .clicked-color {
  transition: color 0.1s ease-in-out;
}

.sidebar-footer .clicked-color:hover {
  background-color: rgb(9, 25, 49);
  color: rgb(168, 168, 168);
  transform: scale(1);
  font-weight: normal;
  cursor: default;
}


@media (max-width: 1000px) {

  #sidebarTemplates {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .sidebar {
    width: 100%;
    height: 100px;
    padding: 0;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
  }

  .sidebar-logo {
    display: none;
  }

  .sidebar-button {
    margin-bottom: 0;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-button {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px;
    font-size: 12px;
    border-radius: 12px;
  }

  .sidebar-footer button {
    display: none;
  }
}


@media (max-width: 600px) {
  .nav-button {
    width: 20%;
  }

  .nav-button img {
    width: 20px;
    height: 20px;
  }
}


@media (max-width: 450px) {

  .sidebar {
    height: 80px;
  }

  .nav-button {
    width: 25%;
    margin: 6px;
    padding: 8px;
  }
}
