.sidebar {
  width: 200px;
  height: 100vh;
  background-color: rgb(42, 54, 71);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* font-family: 'PT Sans', sans-serif; */
}

.sidebar-logo img {
  padding-top: 48px;
  width: 60px;
  height: 60px;
}

.sidebar-button {
  width: 100%;
  background-color: rgb(42, 54, 71);
  float: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 160px;
  padding-top: 48px;
}

.main-button {
  display: flex;
  justify-content: flex-start;
  /* padding-left: 36px; */
}

.nav-button {
  width: 100%;
  background-color: rgb(42, 54, 71);
  color: #fff;
  border: none;
  padding: 14px 0 14px;
  margin: 8px 0;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  /* font-family: 'PT Sans', sans-serif; */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  padding-left: 40px;
}

.nav-button svg {
  margin-right: 16px;
}

.clicked-color {
  background-color: rgb(9, 25, 49);
}

.nav-button:hover {
  background-color: rgb(47 65 90);
}

.clicked-color:hover {
  background-color: rgb(9, 25, 49);
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
