.summary-content-wrapper {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 100px;
}

.separation-line-summary {
  width: 3px;
  height: 59px;
  background-color: rgb(42 170 226);
  display: inline-block;
}

.separation-line-summary-vertical {
  width: 90px;
  height: 3px;
  background-color: rgb(42 170 226);
  display: inline-block;
  display: none;
}

.summary-page-title {
  font-size: 61px;
}

.summary-header-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 24px;
}

.summary-subtitle {
  font-size: 27px;
  font-weight: 400;
}

.summary-info-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}

.info-box-first-line {
  display: flex;
  align-items: center;
  gap: 18px;
}

.info-box-third-line {
  display: flex;
  align-items: center;
  gap: 13px;
}

.todays-data {
  font-weight: 700;
  font-size: 21px;
}

.to-do-box {
  width: 264px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1); /* Light grey shadow on all sides */
  transition: box-shadow 0.2s ease-in-out;
  background-color: rgb(255 255 255);
}

.to-do-box:hover,
.done-box:hover {
  background-color: rgb(243, 243, 243);
}

.done-box {
  width: 264px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1); /* Light grey shadow on all sides */
  transition: box-shadow 0.2s ease-in-out;
  background-color: rgb(255 255 255);
}

.info-box-second-line {
  width: 560px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 61px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1); /* Light grey shadow on all sides */
  transition: box-shadow 0.2s ease-in-out;
  background-color: rgb(255 255 255);
  border-radius: 30px;
}

.info-box-second-line:hover {
  background-color: rgb(243, 243, 243);
}

.task-importancy {
  display: flex;
  align-items: center;
  gap: 18px;
}

.sep-line-third-box {
  width: 2px;
  height: 120px;
  background-color: #d1d1d1;
}

.all-tasks-amount {
  font-size: 64px;
  font-weight: 600;
}

.all-tasks-types {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-tasks-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 168px;
  height: 168px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1); /* Light grey shadow on all sides */
  transition: box-shadow 0.2s ease-in-out;
  background-color: rgb(255 255 255);
  border-radius: 30px;
  cursor: pointer;
}

.all-tasks-box:hover {
  background-color: rgb(243, 243, 243);
}

#theUser {
  color: rgb(42 170 226);
  font-size: 64px;
  font-weight: 700;
}

.summary-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.greeting-user {
  gap: 3px;
  /* hat keinen Effekt */
  font-size: 47px;
  /* siehe Figma */
  font-weight: 500;
  /* siehe Figma */
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-number {
  font-weight: 600;
  font-size: 64px;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 1920px) {
  .content {
      max-width: 1920px;
  }
}

@media (max-width: 1250px) {
  #theUser {
    font-size: 42px;
    font-weight: 700;
  }

  .greeting-user {
    font-size: 42px;
  }

  .summary-main-wrapper {
    gap: 25px;
  }

  .summary-content-wrapper {
    padding-left: 25px;
  }
}

@media (max-width: 1000px) {

  .greeting-user {
    display: none;
  }

  .summary-content-wrapper {
    padding-left: 50px;
    margin-bottom: 150px;
  }

  .separation-line-summary {
    display: none;
  }

  .separation-line-summary-vertical {
    display: inline;
    margin-top: 10px;
  }

  .summary-header-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 50px;
  }

  .summary-page-title {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .summary-subtitle {
    font-weight: 400;
    font-size: 20px;
  }

  .to-do-box, .done-box {
    width: 186px;
    height: 110px;
  }

  .info-box-second-line {
    width: 396px;
    height: 110px
  }

  .all-tasks-box {
    width: 116px;
    heigth: 116px;
  }
}