.add-task-page-header {
  width: 100%;
}

.subtask-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
}

.subtask-input-wrapper {
  position: relative;
  margin-bottom: 4px;
}

.subtask-btns-separator {
  width: 1px;
  height: 20px;
  background-color: rgba(209, 209, 209, 1);
}

.subtask-focus-btns {
  display: none;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  padding: 5px;
}

.subtask-btn-wrapper:hover {
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
}

.subtask-edit-btns {
  position: relative;

}

.subtask-edit-btns img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtask-main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-45%);
  padding: 4px;
  height: 20px;
  width: 20px;
}

.subtask-container {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  height: auto;
  overflow-y: scroll;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.subtask-container::-webkit-scrollbar {
  width: 5px;             /* Width of vertical scrollbar */
}

.subtask-container::-webkit-scrollbar-track {
  background: #f1f1f1;     /* Light gray track */
}

.subtask-container::-webkit-scrollbar-thumb {
  background: #888;        /* Darker thumb */
  border-radius: 5px;
}

.subtask-edit-icons {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.subtask-separator {
  height: 24px;
  width: 1px;
  background-color: rgb(194, 193, 193);
}

.subtask-title {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

.subtask-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.subtask-icon-wrapper:hover {
  border-radius: 50%;
  background-color: rgb(228, 228, 228);
}

.subtask-icons-on-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.subtask-template-edit-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 16px;
  height: 40px;
  box-sizing: border-box;
  position: relative;

}

.clicked-priority-color path {
fill: white;
}

.initial {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-size: cover;
    background-position: center;
}

#chosenContactsBox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.footer-wrapper {
  width: 100vw;
}

.mobile-warning {
  display: none;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 24px;
}

.mobile-warning::before {
  content: '*';
  color: red;
}