.basic-size {
  width: 440px;
  height: 48px;
}

.field-label {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
  }
  
  .field-label-required {
    margin-bottom: 8px;
  }
  
  .field-label-required::after {
    content: " *";
    color: red;
  }
  
  .vertical-line {
    width: 2px;
    height: 440px;
    background-color: #d1d1d1;
    margin: 0 64px;
  }
  
  .question-blocks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  
  .task-left-block div {
    display: flex;
    flex-direction: column;
  }
  
  .task-left-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .task-right-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .description-area {
    width: 445px;
    height: 150px;
  }
  
  .title-field {
    box-sizing: border-box;
  }
  
  .add-task-page-title {
    font-size: 61px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 48px;
  }
  
  .due-date-field {
    position: relative;
  }
  
  .due-date-field::-webkit-calendar-picker-indicator {
    width: 24px; /* Adjust size */
    height: 24px;
    position: absolute;
    right: 10px; /* Move closer to right */
    cursor: pointer;
  }
  
  .due-date-field::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .add-task-main {
    display: flex;
    margin-left: 64px;
    height: 100%;
  }
  
  .contant-in-main {
    position: relative;
  }
  
  .priority-buttons {
    display: flex;
    gap: 16px;
  }
  
  .priority-button {
    border-radius: 10px;
    width: 136px;
    height: 56px;
  }
  
  .priority-button:not(.active):hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .priority-button svg {
    fill: black;
    transition: fill 0.3s ease;
  }
  
  .priority-button.active svg {
    fill: white;
  }
  
  .priority-pngs {
    size: 21px;
  }
  
  .priority-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  
  .title-field-space {
    display: flex;
    flex-direction: column;
  }
  
  .add-task-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1010px;
    position: fixed;
    z-index: 777;
    bottom: 40px;
  }
  
  .footer-buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .footer-buttons-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 10px;
  }
  
  .clear-all-button {
    background-color: rgb(246 247 248);
    border: 2px solid rgb(0, 0, 0);
    height: 56px;
    width: 110px;
    cursor: pointer;
  }
  
  .clear-all-button:hover {
    border-color: rgb(41, 171, 226);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    color: rgb(41, 171, 226);
  }
  
  .create-task-button {
    background-color: rgb(41 54 71);
    height: 56px;
    width: 183px;
    color: white;
    cursor: pointer;
  }
  
  .create-task-button:hover {
    background-color: rgb(41, 171, 226);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .requirement-warning::before {
    content: "*";
    color: red;
  }
  
  .requirement-warning {
    font-size: 20px;
    margin-top: 32px;
  }
  
  .category-selection-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    width: 440px;
    position: relative;
  }
  
  
  .dropdown-btn:hover {
    box-shadow: 0.2px 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  .dropdown-icon {
    height: 24px;
    width: 24px;
  }
  
  .dropdown-icon-wrapper {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-icon-wrapper:hover {
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
  }
  
  .contacts-options {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(117, 117, 117, 0.2);
    padding-bottom: 8px;
    position: absolute;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    top: 5px;
    box-sizing: border-box;
    gap: 8px;
  }
  
  #contactOptions {
    display: none;
  }
  
  .assignment-toggle-buttons {
    z-index: 15;
    position: relative;
  }
  
  .contacts-section {
    display: flex;
    flex-direction: column;
  }