body {
  font-family: "Inter", sans-serif;
  /* background-color: rgb(246, 247, 248); */
  margin: 0;
  height: 100vh;
}

a {
  color: #29abe2;
  text-decoration: none;
}

a:hover {
  color: #15556e;
}

li {
  list-style: none;
}

/* .d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
} */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.main {
  display: grid !important;
  grid-template-columns: 200px 1fr !important;
}

.content {
  /* z-index: 10; */
  /*  ?   */
  /* width: 100%; */
  /*  ?   */
  /* height: calc(100vh - 80px);*/
  /*  ?   */
  margin-top: 80px;
  /* display: flex; */
  /*  ?   */
  /* padding-top: 64px; */
  /*  Besser direkt in  .add-task-main  */
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(246 247 248);
}

.light-grey-bg {
  background-color: rgb(246 247 248);
}

.included-page-div {
  width: 100%;
}

input {
  font-size: 16px;
}

input[type="date"] {
  text-indent: 8px;
}

input[type="text"] {
  text-indent: 16px;
}

textarea {
  text-indent: 16px;
  font-size: 16px;
}

button {
  border: none;
  outline: none;
}

p {
  margin: 0;
}

input[type="date"] {
  opacity: 1;
  /* 50% visible by default */
}

input[type="date"]:valid {
  opacity: 0.5;
  /* Fully visible when a date is selected */
}

@media (max-width: 1000px) {
  .content {
    width: 100vw;
  }
}
