body {
  font-family: "Inter", sans-serif;
  /* background-color: rgb(246, 247, 248); */
  margin: 0;
  height: 100vh;
}

a {
  color: #29abe2;
  text-decoration: none;
}

a:hover {
  color: #15556e;
}

li {
  list-style: none;
}

/* .d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
} */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.main {
  display: grid !important;
  grid-template-columns: 200px 1fr !important;
}

.content {
  margin-top: 80px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(246 247 248);
}

.content::-webkit-scrollbar {
  display: none;
}

.light-grey-bg {
  background-color: rgb(246 247 248);
}

.included-page-div {
  width: 100%;
}

input {
  font-size: 16px;
}

input:focus {
  outline: none;
  border: 1px solid rgb(41, 171, 226);
}

input[type="date"] {
  text-indent: 8px;
}

input[type="text"] {
  text-indent: 16px;
}

textarea {
  text-indent: 16px;
  font-size: 16px;
}

textarea:focus {
  border: 1px solid rgb(41, 171, 226);
  outline: none;
}

button {
  border: none;
  outline: none;
}

p {
  margin: 0;
}

input[type="date"] {
  opacity: 0.5;
  /* 50% visible by default */
}

input[type="date"]:valid {
  opacity: 1;
}

#sidebarContainer {
  z-index: 999;
}

@media (max-width: 1000px) {
  .content {
    width: 100vw;
  }
}
