body {
  font-family: "Inter", sans-serif;
  /* background-color: rgb(246, 247, 248); */
  margin: 0;
  height: 100vh;
}

a {
  color: #29abe2;
  text-decoration: none;
}

a:hover {
  color: #15556e;
}

li {
  list-style: none;
}

/* .d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
} */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.content {
  height: calc(100vh - 80px);
  margin-top: 80px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(246 247 248);
}

.content::-webkit-scrollbar {
  display: none;
}

.light-grey-bg {
  background-color: rgb(246 247 248);
}

.included-page-div {
  width: 100%;
}

input {
  font-size: 16px;
}

input:focus {
  outline: none;
  border: 1px solid rgb(41, 171, 226);
}

input[type="date"] {
  text-indent: 8px;
}

input[type="text"] {
  text-indent: 16px;
}

textarea {
  text-indent: 16px;
  font-size: 16px;
}

textarea:focus {
  border: 1px solid rgb(41, 171, 226);
  outline: none;
}

button {
  border: none;
  outline: none;
}

p {
  margin: 0;
}

input[type="date"] {
  opacity: 0.5;
  /* 50% visible by default */
}

input[type="date"]:valid {
  opacity: 1;
}

#sidebarContainer {
  z-index: 700;
}

#headerContainer {
  position: relative;
  z-index: 888;
}

@media (max-width: 1000px) {
  .content {
    width: 100vw;
  }
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* darkened background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's above everything */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}