<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Join</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="../img/join-logo.svg" />

  <link rel="stylesheet" href="../style.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/sidebar.css" />
  <link rel="stylesheet" href="../css/register.css" />
  <link rel="stylesheet" href="../css/login.css" />
  <link rel="stylesheet" href="../css/summary.css" />
  <link rel="stylesheet" href="../css/task-card.css" />
  <link rel="stylesheet" href="../css/board-layout.css" />

  <link rel="stylesheet" href="../css/contacts-layout.css" />
  <link rel="stylesheet" href="../css/contact-details-slidein.css" />
  <link rel="stylesheet" href="../css/contact-page-overlays.css" />

  <link rel="stylesheet" href="../css/responsive.contacts.css" />
  <link rel="stylesheet" href="../css/privacy_policy.css" />
  <link rel="stylesheet" href="../css/legal_notice.css" />
  <link rel="stylesheet" href="../css/footer.css" />

  <script src="../js/database.js"></script>
  <script src="../js/templates.contact.js"></script>
  <script src="../js/contacts-data.js"></script>
  <script src="../js/contacts-logic.js"></script>
  <script src="../js/contact-overlays.js"></script>
  <script src="../js/contacts-validation.js"></script>
  <script src="../js/contacts-ui.js"></script>

  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script src="../js/header.js"></script>
  <script src="../js/sidebar.js"></script>
  <script src="../js/add_task-1.js"></script>
  <script src="../js/add_task-2.js"></script>
  <script src="../js/register.js"></script>
  <script src="../js/login.js"></script>
</head>

<body onload="contactsOnLoad()">
  <!-- <div class="spinner-overlay">
    <div class="spinner"></div>
  </div> -->
  <header w3-include-html="../templates/header.html" id="headerContainer"></header>
  <main class="main">
    <div w3-include-html="../templates/sidebar.html" id="sidebarContainer"></div>
    <div class="content">
      <div class="contacts-container">
        <button class="back-arrow d-none" id="backArrow" onclick="backToContacts()">
          <img src="../img/arrow_left.png" alt="" />
        </button>

        <div class="contacts" id="contacts">
          <button id="addContactBtn" class="add-contact-btn" onclick="openAddContactOverlay()">
            <p>Add new contact</p>
            <img src="../img/person_add.png" alt="" />
          </button>
          <div class="contacts-list"></div>
        </div>

        <div class="contact-info" id="contactDetailContainer">
          <div class="contact-header">
            <h1>Contacts</h1>
            <p>Better with a team</p>
          </div>

          <div class="contact-detail-view d-none" id="contactDetailView"></div>
        </div>

      </div>
    </div>
  </main>

  <div id="addContactOverlay" class="add-contact-overlay d-none"
    onclick="if(event.target===this){ closeAddContactOverlay(); }">
    <div class="add-content">
      <div class="overlay-left">
        <img class="add-contact-join-logo" src="../img/join-logo-white.svg" alt="Join Logo" class="overlay-logo" />
        <h2>Add contact</h2>
        <p>Tasks are better with a team!</p>
        <div class="overlay-add-contact-close-mobile" onclick="closeAddContactOverlay()">
          <img class="close-white" src="../img/close-white.png" alt="close overlay" />
        </div>
      </div>

      <div class="overlay-right">
        <div class="add-contact-details">
          <div class="overlay-add-contact-close" onclick="closeAddContactOverlay()">
            <img class="close-black" src="../img/close-black.png" alt="close overlay" />
          </div>

          <div class="overlay-add-avatar">
            <img src="../img/person.png" alt="User Avatar" />
          </div>

          <form class="add-contact-inputs" onsubmit="saveNewContactToDataBase(); return false;">
            <div class="overlay-input-group">
              <div class="input-wrapper">
                <input type="text" id="contactName" placeholder="Name" required />
                <img src="../img/person_input.png" alt="" />
              </div>
            </div>

            <div class="overlay-input-group">
              <div class="input-wrapper">
                <input type="email" id="contactEmail" placeholder="Email" required />
                <img src="../img/mail_input.png" alt="" />
              </div>
            </div>

            <div class="overlay-input-group">
              <div class="input-wrapper">
                <input type="tel" id="contactPhone" placeholder="Phone" required />
                <img src="../img/call_input.png" alt="" />
              </div>
            </div>

            <div class="overlay-buttons">
              <button type="button" class="btn-cancel" onclick="closeAddContactOverlay()">
                Cancel
                <span class="cancel-icon-wrapper">
                  <img class="cancel-icon default" src="../img/cancel_x.png" alt="">
                  <img class="cancel-icon hover" src="../img/cancel_x_hovered.png" alt="">
                </span>
              </button>

              <button onclick="saveNewContactToDataBase()" type="submit" class="btn-create-contact">
                <p>Create Contact</p>
                <img src="../img/check.png" alt="" />
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="editContactOverlay" class="edit-contact-overlay d-none">
    <div class="edit-content">
      <div class="overlay-left">
        <img class="add-contact-join-logo" src="../img/join-logo-white.svg" alt="Join Logo" class="overlay-logo" />
        <h2 class="edit-pseudo-element">Edit contact</h2>
        <div class="overlay-edit-contact-close-mobile" onclick="closeEditContactOverlay()">
          <img src="../img/close-white.png" alt="close overlay" />
        </div>
      </div>
      <div class="overlay-right">
        <div class="edit-contact-details">
          <div class="overlay-edit-contact-close" onclick="closeEditContactOverlay()">
            <img class="close-black" src="../img/close-black.png" alt="close overlay" />
          </div>

          <div class="overlay-edit-avatar" id="editAvatar">

          </div>
          <form class="edit-contact-inputs" onsubmit="saveEditedContact(); return false;">
            <div class="overlay-input-group">
              <div class="input-wrapper">
                <input type="text" id="editName" required />
                <img src="../img/person_input.png" alt="" />
              </div>
            </div>
            <div class="overlay-input-group">
              <div class="input-wrapper">
                <input type="email" id="editEmail" required />
                <img src="../img/mail_input.png" alt="" />
              </div>
            </div>
            <div class="overlay-input-group">
              <div class="input-wrapper">
                <input type="tel" id="editPhone" required />
                <img src="../img/call_input.png" alt="" />
              </div>
            </div>
            <div class="overlay-buttons">
              <button type="button" class="btn-delete" onclick="deleteContactForEdit()">Delete</button>
              <button type="submit" class="btn-save">
                Save
                <img src="../img/check.png" alt="" />
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <img class="overlay-contact-succesfully-created" id="contactSuccesfullyCreated"
    src="../img/contact-succesfully-created.png" alt="" srcset="" />
</body>
<script src="../script.js"></script>

</html>