<head>
  <meta charset="UTF-8" />
  <title>Join - Header</title>
  <link rel="stylesheet" href="../css/header.css" />
</head>

<body>
  <div id="landscapeWarning" class="d-none">
    Bitte drehe dein Gerät ins Hochformat zurück.<br>Landscape-Modus wird nicht unterstützt.
  </div>

  <header id="header" class="header">
    <div class="header-container">
      <div class="header-left">
        <img src="../img/join-logo.svg" alt="Join Logo" class="header-logo" />
        <h1 class="header-title">Kanban Project Management Tool</h1>
      </div>

      <div class="header-right">
        <a href="../templates/help.html"><img class="help-icon" src="../img/help.png" alt="Go to help"
            onclick="openHelp()" /></a>
        <div onclick="toggleInitialDropdown()" id="userInitial" class="user-initials">G</div>
        <div class="user-dropdown d-none" id="userDropdown">
          <ul>
            <li class="dropdown-help d-none" onclick="window.location.href='../templates/help.html'">Help</li>
            <li onclick="window.location.href='../templates/privacy_policy.html'">Privacy Policy</li>
            <li onclick="window.location.href='../templates/legal_notice.html'">Legal Notice</li>
            <li onclick="logout()">Log out</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</body>