<head>
  <meta charset="UTF-8" />
  <title>Join - Header</title>
  <!-- Binde hier dein CSS für den Header ein -->
  <link rel="stylesheet" href="../css/header.css" />
</head>

<body>
  <header class="header">
    <div class="header-container">
      <!-- Linke Seite: Logo + Titel -->
      <div class="header-left">
        <img src="../img/join-logo.svg" alt="Join Logo" class="header-logo" />
        <h1 class="header-title">Kanban Project Management Tool</h1>
      </div>

      <!-- Rechte Seite: Fragezeichen-Icon + Initialen -->
      <div class="header-right">
        <!-- <div class="help-icon">?</div> -->
        <a href="../templates/help.html"><img class="help-icon d-none" src="../img/help.png" alt="Go to help"
            onclick="openHelp()" /></a>
        <div class="user-initials d-none">G</div>
        <div class="user-dropdown" id="userDropdown">
          <ul>
            <li onclick="">Privacy Policy</li>
            <li onclick="">Legal Notice</li>
            <li onclick="logout()">Log out</li>
            <!-- Weitere Optionen möglich -->
          </ul>
        </div>
      </div>
    </div>
  </header>
</body>