<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Join</title>
  <!-- <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="../img/join-logo.svg" />

  <link rel="stylesheet" href="../style.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/sidebar.css" />

  <link rel="stylesheet" href="../css/legal_notice.css" />

  <script src="../script.js" defer></script>
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script src="../js/sidebar.js" defer></script>

</head>

<body onload="showLegalNoticeAndPrivacyPolicy()">
  <header w3-include-html="../templates/header.html" id="headerContainer"></header>
  <main class="main">
    <div w3-include-html="../templates/sidebar.html" id="sidebarContainer">
    </div>
    <div class="content">

      <main class="legalNoticeMain">
        <section class="section">
          <h1 class="pageTitle">Imprint</h1>
          <p>Information according to § 5 TMG</p>
          <p>Igor Boger <br>
            Mark Corzilius <br>
            Victoria Latza <br>
            &nbsp;&nbsp;&nbsp;9, Lake Maracaibo Close<br>
            &nbsp;&nbsp;&nbsp;Maitama, Abuja<br>
            &nbsp;&nbsp;&nbsp;Nigeria</li> <br><br>
          </p>
          <p><strong>Represented by:</strong><br>
            Igor Boger <br>
            Mark Corzilius <br>
            Victoria Latza<br>
          </p>
          <p><strong>&nbsp;&nbsp;&nbsp;Contact:</strong> <br>
            &nbsp;&nbsp;&nbsp;Phone: 0176-80126132<br>
            &nbsp;&nbsp;&nbsp;Email: 
            <a href='mailto:victorialatza@gmail.com'>victorialatza@gmail.com</a>
          </p><br>
          <p><strong>Responsible for content according to § 55 Abs. 2 RStV:</strong><br>
            Victoria Latza <br>
            9, Lake Maracaibo Close<br>
            Maitama, Abuja <br>
            Nigeria <br>
          </p><br>
          <p>
          <h2 class="pageSubTitle">Disclaimer:</h2>
          <h3>Liability for Content</h3>
          The contents of our pages were created with the greatest care. However, we cannot guarantee the accuracy,
          completeness,
          and timeliness of the content. As a service provider, we are responsible for our own content on these pages
          according to § 7
          Abs.1 TMG. According to §§ 8 to 10 TMG, however, we are not obligated to monitor transmitted or stored
          third-party information
          or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of
          information under the
          general laws remain unaffected. However, liability in this regard is only possible from the time of
          knowledge of a concrete
          legal violation. Upon becoming aware of such legal violations, we will remove this content
          immediately.<br><br>
          <h3>Liability for Links</h3>
          Our offer contains links to external third-party websites, over whose content we have no influence.
          Therefore, we cannot assume any liability for this external content. The respective provider or operator of
          the pages is always
          responsible for the content of the linked pages. The linked pages were checked for possible legal violations
          at the time of
          linking. Illegal content was not recognizable at the time of linking. A permanent content control of the
          linked pages is,
          however, not reasonable without concrete indications of a legal violation. Upon becoming aware of legal
          violations, we will
          remove such links immediately.<br><br>
          <h3>Copyright</h3>
          The content and works created by the site operators on these pages are subject to German copyright law.
          The duplication, processing, distribution, and any kind of exploitation outside the limits of copyright
          require the written
          consent of the respective author or creator. Downloads and copies of this site are only permitted for
          private, non-commercial use.
          Insofar as the content on this site was not created by the operator, the copyrights of third parties are
          respected. In particular,
          third-party content is marked as such. Should you nevertheless become aware of a copyright infringement,
          please inform us
          accordingly. Upon becoming aware of legal violations, we will remove such content
          immediately.<br><br>
          <h3>Data Protection</h3>
          The use of our website is generally possible without providing personal data. As far as personal data (e.g.,
          name, address, or
          email addresses) is collected on our pages, this is always done on a voluntary basis whenever possible. This
          data will not be
          passed on to third parties without your explicit consent.<br>
          We point out that data transmission over the Internet (e.g., when communicating via email)
          can have security gaps. A complete protection of data against access by third parties is not possible.<br>
          The use of contact data published within the scope of the imprint obligation by third parties for sending
          unsolicited
          advertising and information materials is hereby expressly prohibited. The operators of the pages expressly
          reserve the
          right to take legal action in the event of the unsolicited sending of advertising information, such as spam
          emails.<br><br>
          <h3>Google Analytics</h3>
          This website uses Google Analytics, a web analytics service provided by Google Inc. ("Google"). Google
          Analytics
          uses so-called "cookies", text files that are stored on your computer and that enable an analysis of your
          use of the
          website. The information generated by the cookie about your use of this website (including your IP address)
          is transmitted
          to a Google server in the USA and stored there. Google will use this information to evaluate your use of the
          website, to
          compile reports on website activity for website operators, and to provide other services related to website
          activity and
          internet usage. Google may also transfer this information to third parties if required by law or if third
          parties process
          this data on behalf of Google. Google will never associate your IP address with other Google data. You can
          prevent the
          installation of cookies by setting your browser software accordingly; however, we point out that in this
          case, you may
          not be able to fully use all the functions of this website. By using this website, you consent to the
          processing of data
          about you by Google in the manner and for the purposes set out above.<br><br>
          <h3>Google AdSense</h3>
          This website uses Google AdSense, a web advertising service of Google Inc., USA ("Google"). Google AdSense
          uses so-called
          "cookies" (text files), which are stored on your computer and enable an analysis of your use of the website.
          Google AdSense
          also uses so-called "web beacons" (small invisible graphics) to collect information. By using the web
          beacon, simple actions
          such as visitor traffic on the website can be recorded and collected. The information generated by the
          cookie and/or web beacon
          about your use of this website (including your IP address) is transmitted to a Google server in the USA and
          stored there. Google
          will use this information to evaluate your use of the website concerning ads, to compile reports on website
          activity and ads for
          website operators, and to provide other services related to website and internet usage. Google may also
          transfer this information
          to third parties if required by law or if third parties process this data on behalf of Google. Google will
          never associate your
          IP address with other Google data.
          </p>
        </section>
      </main>

    </div>
  </main>
</body>

</html>