<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Join - Sign in</title>


</head>

<body>

    <!-- Hauptbereich mit Sign-up-Box -->
    <main class="signup-main">
        <div class="signup-box">
            <h2>Sign up</h2>
            <form>
                <!-- E-Mail-Feld als Benutzername -->
                <div class="input-field">
                    <label for="registerEmail">Email</label>
                    <input type="email" id="registerEmail" placeholder="Email" autocomplete="username" required>
                </div>

                <!-- Passwortfeld -->
                <div class="input-field">
                    <label for="password1">Password</label>
                    <input type="password" id="registerPassword1" placeholder="Password" autocomplete="new-password" required>
                </div>

                <!-- Passwort bestätigen -->
                <div class="input-field">
                    <label for="password2">Password</label>
                    <input type="password" id="registerPassword2" placeholder="Password" autocomplete="new-password" required>
                </div>

                <button type="submit" class="signup-btn">Sign up</button>
            </form>

        </div>
    </main>
</body>

</html>