<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Join - Sign in</title>

    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script src="../script.js"></script>
    <script src="../js/contacts.js"></script>
    <script src="../js/contacts_remote_storage.js"></script>
    <script src="../js/database.js" defer></script>
    <script src="../js/register.js"></script>

    <link rel="icon" type="image/x-icon" href="../img/join-logo.svg" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../css/register.css" />

</head>

<body>

    <!-- Hauptbereich mit Sign-up-Box -->
    <main class="signup-main">
        <div class="signup-box">
            <div class="signup-title-block">
                <img onclick="toggleSignupArrow(event)" onmouseover="toggleSignupArrow(event)" onmouseout="toggleSignupArrow(event)" class="signup-arrow" id="signupArrow" src="../img/signup_arrow.png" alt="">
                <h2>Sign up</h2>
                <div class="blue-horizontal-line"></div>
            </div>
            <form onsubmit="signUp(event)">
                <!-- E-Mail-Feld als Benutzername -->
                <div class="input-field">
                    <label for="registerName">Name</label>
                    <div class="login-input-wrapper"> 
                        <input type="name" id="registerName" placeholder="Name" autocomplete="username" required>
                        <img class="login-icons" src="../img/user.png" alt="mail png">
                    </div>
                </div>
                <div class="input-field">
                    <label for="registerEmail">Email</label>
                    <div class="login-input-wrapper">   
                        <input type="email" id="registerEmail" placeholder="Email" autocomplete="username" required>
                        <img class="login-icons" src="../img/mail.png" alt="mail png">
                    </div>
                </div>

                <!-- Passwortfeld -->
                <div class="input-field">
                    <label for="registerPassword1">Password</label>
                    <div class="login-input-wrapper">
                        <input type="password" id="registerPassword1" placeholder="Password" autocomplete="new-password" required>
                        <img onclick="togglePasswordVisibility('registerPassword1', this, '../')" class="login-icons" src="../img/password_not_visible.png" alt="mail png">
                    </div>
                </div>

                <!-- Passwort bestätigen -->
                <div class="input-field">
                    <label for="registerPassword2">Password</label>
                    <div class="login-input-wrapper">      
                        <input type="password" id="registerPassword2" placeholder="Confirm Password" autocomplete="new-password" required>
                        <img onclick="togglePasswordVisibility('registerPassword2', this, '../')" class="login-icons" src="../img/password_not_visible.png" alt="mail png">
                    </div>
                </div>
                <div class="privacy-accept">
                    <img onmouseover="togglePrivacyBtn(event)" onmouseout="togglePrivacyBtn(event)" onclick="togglePrivacyBtn(event)" id="acceptPrivacy" src="../img/checkbox_unchecked_unhovered.png" alt="">
                    <div class="privacy-line">
                    <span>I accept the</span> <a class="privacy-policy" href="../templates/privacy_policy.html"> Privacy policy</a>
                    </div>
                </div>
                <div id="privacyDiscard">*Privacy policy must be accepted!</div>
                <div class="signup-btn-wrapper"><button type="submit" class="signup-btn">Sign up</button></div>
            </form>

        </div>
    </main>
</body>

</html>