<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../img/join-logo.svg" />

    <link rel="stylesheet" href="../style.css" />
    <!-- <link rel="stylesheet" href="../css/header.css" />  -->
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/sidebar.css" />
    <link rel="stylesheet" href="../css/summary.css" />

    <script src="../script.js" defer></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="../js/sidebar.js"></script>
  </head>

  <body onload="w3.includeHTML()">
    <header w3-include-html="../templates/header.html" id="headerContainer"></header>
    <main class="main">
      <div w3-include-html="../templates/sidebar.html" id="sidebarContainer"></div>
      <div class="content">
        <div class="summary-content-wrapper">
          <div class="summary-header-wrapper">
            <h1 class="summary-page-title">Join 360</h1>
            <div class="separation-line-summary"></div>
            <p class="summary-subtitle">Key Matrics at a Glance</p>
          </div>
          <div class="summary-main-wrapper">
            <div class="summary-info-box">
              <div class="info-box-first-line">
                <div class="to-do-box">
                  <img src="../img/pencil.png" alt="in work" />
                  <div class="card-info">
                    <p class="card-number">1</p>
                    <p class="card-text">To Do</p>
                  </div>
                </div>
                <div class="done-box">
                  <img src="../img/done.png" alt="done" />
                  <div class="card-info">
                    <p class="card-number">1</p>
                    <p class="card-text">Done</p>
                  </div>
                </div>
              </div>
              <div class="info-box-second-line">
                <div class="task-importancy">
                  <img src="../img/importancy.png" alt="importancy" />
                  <div class="card-info">
                    <p class="card-number">1</p>
                    <p class="card-text">Urgent</p>
                  </div>
                </div>
                <div class="sep-line-third-box"></div>
                <div class="deadline-box">
                  <p class="todays-data">October 16th 2025</p>
                  <p>Upcoming Deadline</p>
                </div>
              </div>
              <div class="info-box-third-line">
                <div class="all-tasks-box">
                  <p class="all-tasks-amount">5</p>
                  <div class="all-tasks-types">
                    <p>Tasks</p>
                    <p>in Board</p>
                  </div>
                </div>
                <div class="all-tasks-box">
                  <p class="all-tasks-amount">2</p>
                  <div class="all-tasks-types">
                    <p>Tasks</p>
                    <p>in Progress</p>
                  </div>
                </div>
                <div class="all-tasks-box">
                  <p class="all-tasks-amount">2</p>
                  <div class="all-tasks-types">
                    <p>Awaiting</p>
                    <p>Feedback</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="greeting-user">
              <span>
                Good morning, <br />
                <div id="theUser">Mark Corzilius</div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
